.sortIcon {
  display: none;
}

.sortActive {
  font-weight: 700;
  color: var(--primary);
}

.sortActive .sortIcon {
  display: block;
  margin-right: 5px;
}

.sort {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}

.sort span {
  display: grid;
  gap: 8px;
  grid-template-columns: 20px 1fr;
  align-items: center;
  cursor: pointer;
}

.sort span:not(.sortActive) {
  grid-template-columns: 1fr;
}
