/* .h1__header {
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  margin: 0;
  color:red;
}

.h2__header {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}

.h3__header {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin: 0;
} */
